ul {
    list-style-type: none;
}

.app {
    padding: 30px;
    display: flex;
    gap: 50px;
    width: 100%;
}

.wrapper{
    /*background-color: rgba(236, 197, 190, 0.16);*/
    border: 2px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
}


.task {
    font-weight: bold;
    color: purple;
}

.task-done {
    color: limegreen;
    font-weight: bold;
}

.btn-delete{
    margin-left: 5px;
    color: red;
}

.btn-wrapper{
    display: flex;
    gap: 5px;
}

.filter-btn-active {
    background-color: lightcoral;
    border: 2px solid lightcoral;
    border-radius: 2px;
    color: white;
}

.task-input{
    background-color: rgba(197, 232, 231, 0.41);
    border: 2px solid #74dfdc;

}

.task-input-error {
  border: 1px solid red;
    outline: none;
    background-color: lightcoral;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}


